= link_to 'Signin with Google', user_google_oauth2_omniauth_authorize_path

= link_to 'Signin with Cognito', 'https://AAAAA.auth.ap-northeast-1.amazoncognito.com/login?response_type=code&client_id=AAAAA&redirect_uri=http://localhost:3000'