= link_to 'Signin with Google', user_google_oauth2_omniauth_authorize_path

= link_to 'Signin with Cognito', 'https://hello-rails.auth.ap-northeast-1.amazoncognito.com/login?response_type=code&client_id=vcild7756s2kr549f36a71uma&redirect_uri=http://localhost:3000/home/cognito'


